.summaryButtons{
  display: grid;
  grid-template-rows: 1fr 0fr; 
  gap: 10px; 
  border: 1px solid #ccc; 
  padding: 30px; 
  margin-bottom: 10px;
}

.confirmButton{
  background-color: #4CAF50;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
}

.cancelButton{
  background-color: red;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
}

img {
  max-width: 50px;
  max-height: 50px;
}

li{
  list-style-type:none;
}
.orderPanel{
  width: 1000px;
  align-items: center;
  border-radius: 5px;
  border: solid black;
  border-width: 1px;
  gap:10px;
  padding: 30px;
}

.orderInfo{
  width: 80%;
  
  align-self: center;
  border-radius: 5px;
  padding: 10px;
  gap:10px;

}

.itemInfo{
  align-self: center;
  border-radius: 5px;
  border: solid black;
  border-width: 1px;
  gap:10px;
  padding: 10px;

}
ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0;
}
